APP_ENV=production
PORT=8080
GIN_MODE=release
TELEGRAM_BOT_TOKEN=
CORS_ALLOWED_ORIGINS=https://telegram.william-vegas.com
DB_SCHEMA=postgres
DB_NAME=telegram_bot
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
